@property --primary {
  syntax: "<color>";
  inherits: false;
  initial-value: #245784;
}

@property --border-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #dadfe4;
}

@property --border-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #364049;
}

@property --copy-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #fbfbfc;
}
