@import "~bootstrap/scss/bootstrap";
@import "ol/ol.css";
@import "ol-layerswitcher/src/ol-layerswitcher.css";
@import "ol-popup/src/ol-popup.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tom-select/src/scss/tom-select.bootstrap5.scss";

#map .layer-switcher {
  top: 0.5em;
  color: $black;
}

main {
  position: relative;
}

#feature-info {
  position: absolute;
  width: 10%;
  float: right;
  top: 3rem;
  right: 1.5rem;
  min-width: 15rem;
}

#feature-info > div {
  display: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.edit-buttons {
  display: none;
}

div#mouse-position-content {
  display: block;
}

.ol-control.selected button {
  background-color: #cccccc;
}

.placementInfo .time, #mouse-position {
  text-align: right;
}

.ts-wrapper .ts-control {
  max-height: 3rem;
  .item img {
    margin-right: 5px;
  }
}

