@import "~bootstrap/scss/bootstrap";
@import "ol/ol.css";
@import "ol-layerswitcher/src/ol-layerswitcher.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tom-select/src/scss/tom-select.bootstrap5.scss";

nav.navbar {
  background-color: #245682 !important;
}

#map .layer-switcher {
  top: 0.5em;
  color: $black;
}

main {
  position: relative;
}

#feature-info {
  position: absolute;
  width: 10%;
  float: right;
  top: 3rem;
  right: 1.5rem;
  min-width: 16rem;
}

#feature-info > div {
  display: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.edit-buttons {
  display: none;
}

div#mouse-position-content {
  display: block;
}

.ol-control.selected button {
  background-color: #cccccc;
}

.placementInfo .time, #mouse-position {
  text-align: right;
}

.ts-wrapper .ts-control {
  max-height: 3rem;
  .item img {
    margin-right: 5px;
  }
}
button.overlay-button {
  border-radius: 1rem;
  font-size: 1rem;
  width: 1.1rem;
  height: 1.1rem;
}

.form {
  top: 11rem;
  position: absolute;
  left: 0.5rem;
  border-radius: 4px;
  width: 10%;
  min-width: 20rem;
}

.info-box {
  width: 10rem;
  border-radius: 4px;
}

.clock svg {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}

#disconnected {
  position: absolute;
  top: 10px;
  left: 5em;
}