{% extends "base.html" %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="p-5 m-4 bg-light rounded-3 text-bg-light">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Access Denied</h1>
        <p>You are not whitelisted and do not have access.</p>
        <p>To get access contact <a href="https://discordapp.com/users/285113857326710784">attrib#6101</a></p>
        <p>Debug Information needed for whitelisting</p>
        <p>Access only to you, then provide this user ID {{ userId }}</p>
        <p>Access for all members of a discord server, provide the server id</p>
        <ul>
            {% for guild in guilds %}
            <li>
                {{ guild.name }} ({{ guild.id }})
            </li>
            {% endfor %}
        </ul>
        <p>
            To only allow specific role, also add the role id, by typing in chat \@role (important \ before @).
            This will give you the role id.
        </p>
    </div>
</div>
{% endblock %}