extends layout

block content
    section#text
        h2 Access Denied
        p You are not whitelisted and do not have access.
        p To get access contact attrib#6101
        p Debug Information needed for whitelisting
        p Access only to you, then provide this user ID&nbsp;
            = userId
        p Access for all members of a discord server, provide the server id
        ul
            - each guild in guilds
                li
                    = `${guild.name} (${guild.id})`
        p To only allow specific role, also add the role id, by typing in chat \@role (important \   before @). This will give you the role id