{% extends "base.html" %}

{% block content %}
<div class="p-5 m-4 bg-light rounded-3 text-bg-light">
    <div class="container-fluid py-5">
        <h2>Event Log</h2>
        {% for event in events %}
            <div class="row">
                <div class="col-md-2">
                    {{ event.eventTime }}
                </div>
                <div class="col-md-2">
                    {{ event.type }}
                    {% if event.data.properties.type %}
                        ({{ event.data.properties.type }})
                    {% endif %}
                    {% if event.data.properties.type and event.data.properties.icon %}
                        <img src="/images/{{ event.data.properties.type }}/{{ event.data.properties.icon }}.svg" />
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {{ event.user }} ({{ event.userId }})
                </div>
                <div class="col-md-2">
                    {% if event.data.geometry.coordinates %}
                    {% if event.data.geometry.coordinates[0][0][0] %}
                        <a href="/?cx={{ event.data.geometry.coordinates[0][0][0] }}&cy={{ event.data.geometry.coordinates[0][0][1] }}&r=1">Map</a>
                    {% elseif event.data.geometry.coordinates[0][0] %}
                        <a href="/?cx={{ event.data.geometry.coordinates[0][0] }}&cy={{ event.data.geometry.coordinates[0][1] }}&r=1">Map</a>
                    {% else %}
                        <a href="/?cx={{ event.data.geometry.coordinates[0] }}&cy={{ event.data.geometry.coordinates[1] }}&r=0.5">Map</a>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if event.data.properties.notes %}
                        {{ event.data.properties.notes | nl2br }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if acl === 'admin' %}
            <h2>Configuration</h2>
            <form action="/admin" method="post">
                <div class="mb-3 row">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" value="{{ config.basic.title }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="color" class="col-sm-2 col-form-label">Navbar Color</label>
                    <div class="col-sm-10">
                        <input type="color" class="form-control" id="color" name="color" value="{{ config.basic.color }}">
                    </div>
                </div>
                <h4>Links</h4>
                {% for link in config.basic.links %}
                    <div class="mb-3 row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="linkTitle" value="{{ link.title }}" placeholder="Link Title">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="linkHref" value="{{ link.href }}" placeholder="Link destination">
                        </div>
                    </div>
                {% endfor %}
                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="linkTitle" placeholder="Link Title">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="linkHref" placeholder="Link destination">
                    </div>
                </div>
                <h4>Texts</h4>
                <div class="mb-3 row">
                    <label for="text-login" class="form-label">Login Page Text</label>
                    <textarea class="form-control" id="text-login" rows="3" name="textLogin">{{ config.text.login }}</textarea>
                </div>
                <div class="mb-3 row">
                    <label for="text-accessDenied" class="form-label">Access Denied</label>
                    <textarea class="form-control" id="text-accessDenied" rows="3" name="textAccessDenied">{{ config.text.accessDenied }}</textarea>
                </div>
                <div class="mb-3 row">
                    <label for="text-feedback" class="form-label">Feedback</label>
                    <textarea class="form-control" id="text-feedback" rows="3" name="textFeedback">{{ config.text.feedback }}</textarea>
                </div>
                <div class="mb-3 row">
                    <label for="text-contributors" class="form-label">Contributors</label>
                    <textarea class="form-control" id="text-contributors" rows="3" name="textContributors">{{ config.text.contributors }}</textarea>
                </div>
                <h4>Role Assigment</h4>
                <h6>Specific User Roles</h6>
                {% for user, role in config.access.users %}
                    <div class="mb-3 row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="accessUser" placeholder="User ID" value="{{ user }}">
                        </div>
                        <div class="col-sm-4">
                            <select name="accessUserRole" class="form-select">
                                <option value="read" {% if role === 'read' %}selected{% endif %}>Read</option>
                                <option value="icons" {% if role === 'icons' %}selected{% endif %}>Icons</option>
                                <option value="full" {% if role === 'full' %}selected{% endif %}>Full</option>
                                <option value="moderator" {% if role === 'moderator' %}selected{% endif %}>Moderator</option>
                                <option value="admin" {% if role === 'admin' %}selected{% endif %}>Admin</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="accessUserComment" placeholder="Comment" value="{{ config.accessComments.users[user]|default('') }}">
                        </div>
                    </div>
                {% endfor %}
                <div class="mb-3 row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="accessUser" placeholder="User ID" value="">
                    </div>
                    <div class="col-sm-4">
                        <select name="accessUserRole" class="form-select">
                            <option value="read">Read</option>
                            <option value="icons">Icons</option>
                            <option value="full">Full</option>
                            <option value="moderator">Moderator</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="accessUserComment" placeholder="Comment" value="">
                    </div>
                </div>
                <h6>Assign roles to discord roles</h6>
                {% for discordId, roles in config.access.roles %}
                    <div class="mb-3 row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="accessDiscord" placeholder="Discord ID" value="{{ discordId }}">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="accessDiscordComment" placeholder="Comment" value="{{ config.accessComments.roles[discordId].name|default('') }}">
                        </div>
                        {% for discordRoleId, role in roles %}
                        <div class="row px-5 m-1">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="accessDiscordRole[{{ discordId }}]" placeholder="User ID" value="{{ discordRoleId }}">
                            </div>
                            <div class="col-sm-4">
                                <select name="accessDiscordRoleAssigment[{{ discordId }}]" class="form-select">
                                    <option value="read" {% if role === 'read' %}selected{% endif %}>Read</option>
                                    <option value="icons" {% if role === 'icons' %}selected{% endif %}>Icons</option>
                                    <option value="full" {% if role === 'full' %}selected{% endif %}>Full</option>
                                    <option value="moderator" {% if role === 'moderator' %}selected{% endif %}>Moderator</option>
                                    <option value="admin" {% if role === 'admin' %}selected{% endif %}>Admin</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="accessDiscordRoleComment[{{ discordId }}]" placeholder="Comment" value="{{ config.accessComments.roles[discordId][discordRoleId]|default('') }}">
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row px-5 m-1">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="accessDiscordRole[{{ discordId }}]" placeholder="User ID">
                            </div>
                            <div class="col-sm-4">
                                <select name="accessDiscordRoleAssigment[{{ discordId }}]" class="form-select">
                                    <option value="read">Read</option>
                                    <option value="icons">Icons</option>
                                    <option value="full">Full</option>
                                    <option value="moderator">Moderator</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="accessDiscordRoleComment[{{ discordId }}]" placeholder="Comment">
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if config.access.roles|length < 4 %}
                <div class="mb-3 row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="accessDiscord" placeholder="Discord ID" value="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="accessDiscordComment" placeholder="Comment" value="">
                    </div>
                </div>
                {% else %}
                <div class="mb-3 row">
                    Reached max amount of discords to check. To workaround this a discord bots needs to be implemented.
                    This is a limitation of the discord API.
                </div>
                {% endif %}
                <div class="mb-3 row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Save</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}