<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foxhole {{ config.shard }} {{ config.basic.title }}">
    <meta name="author" content="attrib, Bazlow">
    <!-- Facebook/Discord Meta Tags -->
    <meta property="og:url" content="{{ config.basic.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ config.basic.title }}">
    <meta property="og:description" content="Foxhole {{ shard }} {{ config.basic.title }}">
    <meta property="og:image" content="{{ config.basic.url }}{{ config.images.opengraph }}">
    <meta property="og:image:alt" content="{{ config.basic.title }} Logo">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ config.basic.url }}">
    <meta name="twitter:title" content="{{ config.basic.title }}">
    <meta name="twitter:description" content="Foxhole {{ shard }} {{ config.basic.title }}">
    <meta name="twitter:image" content="{{ config.basic.url }}{{ config.images.opengraph }}">
    <meta name="twitter:image:alt" content="{{ config.basic.title }} Logo">
    <meta name="theme-color" content="{{ config.basic.color }}">

    {% if config.images.favicon %}
    <link rel="icon" type="image/svg+xml" href="{{ config.images.favicon }}">
    {% endif %}
    <link rel="icon" type="image/png" href="{{config.images.faviconPng }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/dist/main.css?{{ cacheBuster }}">
    {% block css %}{% endblock %}
    <style>
        .faction-background-color {
            background-color: {{ config.basic.color }} !important;
        }
    </style>
</head>
<body class="d-flex h-100 text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary faction-background-color">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">
                            <img src="{{ config.images.logo }}" width="30" height="30" class="d-inline-block align-top" alt="">
                            {{ title }}
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link {% if path == '/' %}active{% endif %}" href="/">Map</a></li>
                                {% if acl === 'admin' %}
                                    <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" href="#flags">Flagged</a></li>
                                    <li class="nav-item dropdown">
                                        <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</span>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item {% if path == '/admin/eventlog' %}active{% endif %}" href="/admin/eventlog">Eventlog</a></li>
                                            <li><a class="dropdown-item {% if path == '/admin/config' %}active{% endif %}" href="/admin/config">Config</a></li>
                                        </ul>
                                    </li>
                                {% elseif acl === 'moderator' %}
                                    <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" href="#flags">Flagged</a></li>
                                    <li class="nav-item"><a class="nav-link {% if path == '/admin/eventlog' %}active{% endif %}" href="/admin/eventlog">Admin</a></li>
                                {% endif %}
                                <li class="nav-item flex-grow-1"><a class="nav-link {% if path == '/help' %}active{% endif %}" href="/help">Help</a></li>
                            </ul>
                            <div class="navbar-nav me-auto" id="war-score">
                                <div class="team-score"><img src="/images/colonial.webp" alt="Colonial"><span id="colonial-score"></span> / <span class="total-score">32</span></div>
                                <div class="team-score"><span id="warden-score"></span> / <span class="total-score">32</span><img src="/images/warden.webp" alt="Warden"></div>
                            </div>
                            <div class="navbar-nav justify-content-end">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item{% if config.basic.links|length > 0 %} dropdown{% endif %}">
                                        {% if config.basic.links|length > 0 %}
                                            <span id="warNumber" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ shard }} #{{ war }}{% if warStatus === 'prepare' %} (Preparing){% elseif warStatus === 'resistance' %} (Resistance){% endif %}</span>
                                            <ul class="dropdown-menu">
                                                {% for item in config.basic.links %}
                                                <li><a class="dropdown-item" href="{{ item.href }}">{{ item.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <span id="warNumber" class="nav-link{% if config.basic.links|length > 0 %} dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"{% else %}"{% endif %}>{{ shard }} #{{ war }}{% if warStatus === 'prepare' %} (Preparing){% elseif warStatus === 'resistance' %} (Resistance){% endif %}</span>
                                        {% endif %}
                                    </li>
                                </ul>
                                {% if user %}
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="discord-username" data-user-id="{{ userId }}">
                                                {{ user }}
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                            <span class="dropdown-item-text">
                                                {% if acl === 'full' %}
                                                    Full access
                                                {% elseif acl === 'moderator' %}
                                                    Full access (Mod)
                                                {% elseif acl === 'admin' %}
                                                    Admin
                                                {% elseif acl === 'icons' %}
                                                    Icons edit only
                                                {% else %}
                                                    Read only
                                                {% endif %}
                                            </span>
                                                </li>
                                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main class="px-3 h-100">
            {% block content %}{% endblock %}
        </main>
    </div>

    <script src="/dist/main.js?{{ cacheBuster }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>