{% extends "base.html" %}

{% block javascript %}
<script>
    const clock = document.getElementById('clock')
    let time = new Date(), timeout, timerRunning = false;

    function timer() {
      timerRunning = true
      timeout = setTimeout(() => {
        time.setTime(time.getTime() - 3600000)
        timerRunning = displayColor();
        if (timerRunning) {
          timer()
        }
      }, 500)
    }

    function displayColor() {
      const diff = new Date().getTime() - time.getTime()
      const hue = (Math.max(0, Math.min(1, 1 - diff/86400000))*120).toString(10);
      clock.title = time.toLocaleString();
      clock.getElementsByTagName('circle')[0].style.fill = `hsl(${hue},100%,50%)`
      return 1 - diff / 86400000 >= 0;
    }

    clock.addEventListener('click', () => {
      if (timerRunning) {
        clearTimeout(timeout)
      }
      time = new Date()
      timer()
    })

    displayColor()
    timer()
</script>
{% endblock %}

{% block content %}
<div class="p-5 m-4 bg-light rounded-3 text-bg-light">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Help</h1>
        <p>
            Work in Progress
        </p>
        <h2>Decay Information</h2>
        <p>Inside Info boxes there is a Decay notification (<span id="clock" class="clock">{% include 'clock.svg' %}</span>).</p>
        <p>This goes from green (just placed) over yellow (updated 12h ago) to red (updated 24h ago).</p>
        <p>Hovering over the element will show the exact time (select an element before to be able to hover).</p>
        <p>Clicking on it will reset the timer.</p>
        <h2>Read/Edit Mode</h2>
        <p>Depending on permission you have access to go to the edit mode (<i class="bi bi-gear"></i>)</p>
        <p>When Clicking edit mode more controls are available to edit the map.</p>
        <h2 class="mb-4">Route Information <i class="bi bi-exclamation-triangle"></i></h2>
        <div class="row">
            <div class="col-md-1">
                <img src="/images/information/information.svg" alt="Information">
            </div>
            <div class="col-md-5">
                Information
            </div>
            <div class="col-md-1">
                <img src="/images/information/warning.svg" alt="Warning">
            </div>
            <div class="col-md-5">
                Warning
            </div>
            <div class="col-md-1">
                <img src="/images/information/caution.svg" alt="Caution">
            </div>
            <div class="col-md-5">
                Caution
            </div>
            <div class="col-md-1">
                <img src="/images/information/danger.svg" alt="Danger">
            </div>
            <div class="col-md-5">
                Danger
            </div>
        </div>
        <h2 class="mt-4">Track <i class="bi bi-train-front"></i></h2>
        <div class="row">
            <div class="col-md-12">
                <ol>
                    <li>Got to edit mode <i class="bi bi-gear"></i></li>
                    <li>Click Track Builder <i class="bi bi-train-front"></i></li>
                    <li>Fill out builder, choose a color | Alternatively click on a track before clicking Track Builder to pre-fill the form.</li>
                    <li>Click on the map to start drawing</li>
                    <li>
                        When finished click <i class="bi bi-check-circle-fill" style="color: green"></i> or double click.
                        The track is then saved. You can edit it, when you click again on Track Builder <i class="bi bi-train-front"></i> and click on any point of the track.
                    </li>
                    <li>You can continue to add more tracks.</li>
                </ol>
            </div>
            <div class="col-md-1">
                Left Click
            </div>
            <div class="col-md-5">
                Add a point
            </div>
            <div class="col-md-1">
                Right Click
            </div>
            <div class="col-md-5">
                Remove last point
            </div>
            <div class="col-md-1">
                Double Left Click
            </div>
            <div class="col-md-5">
                Finish track
            </div>
            <div class="col-md-1">
                <i class="bi bi-alt">Alt</i> + Left Click
            </div>
            <div class="col-md-5">
                Remove point on track
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-1">
                <i class="bi bi-shift">Shift</i> + Left Click
            </div>
            <div class="col-md-5">
                Remove complete Track
            </div>
        </div>
        <h2 class="mt-4">Track Split<i class="bi bi-scissors"></i> (beta)</h2>
        <p>Select this tool, to split an existing line into two lines.</p>
        <p>When hovering over tracks a blue line where you can cut is displayed, as internally its not possible to cut with the bending of tracks.</p>
        <h2 class="mt-4">Sign <i class="bi bi-sign-turn-left"></i> / Field <i class="bi bi-hammer"></i> / Facility <i class="bi bi-building"></i> / <i class="bi bi-lock"></i> / <i class="bi bi-emoji-angry"></i></h2>
        <p>Facility exists in three forms:</p>
        <ul>
            <li>Public Facility (<i class="bi bi-building"></i>) - power is provided, you are allowed to take items from inventory, adding resources welcome</li>
            <li>Private Facility (<i class="bi bi-lock"></i>) - Don't touch, Clan man gets angry.</li>
            <li>Enemy Facility (<i class="bi bi-emoji-angry"></i>) - Partisan Ops</li>
        </ul>
        <div class="row">
            <div class="col-lg-3 row align-content-start">
                <div class="col-md-12">
                    <h3>Signs</h3>
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/dead_end.svg" alt="Dead End">
                </div>
                <div class="col-md-10">
                    Dead End
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/dual_carriageway_ends_ahead.svg" alt="Dual Carriage Way Ends Ahead">
                </div>
                <div class="col-md-10">
                    Dual Carriage Way Ends Ahead
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/keep_left.svg" alt="Keep Left">
                </div>
                <div class="col-md-10">
                    Keep Left
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/keep_right.svg" alt="Keep Right">
                </div>
                <div class="col-md-10">
                    Keep Right
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/level_crossing.svg" alt="Level Crossing">
                </div>
                <div class="col-md-10">
                    Level Crossing
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/maintenance.svg" alt="Maintenance">
                </div>
                <div class="col-md-10">
                    Maintenance
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/motorway.svg" alt="Motorway">
                </div>
                <div class="col-md-10">
                    Motorway
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/motorway_end.svg" alt="Motorway End">
                </div>
                <div class="col-md-10">
                    Motorway End
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/no_entry_sign.svg" alt="No Entry">
                </div>
                <div class="col-md-10">
                    No Entry
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/no_stopping.svg" alt="No Stopping">
                </div>
                <div class="col-md-10">
                    No Stopping
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/no_waiting.svg" alt="No Waiting">
                </div>
                <div class="col-md-10">
                    No Waiting
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/parking.svg" alt="Parking">
                </div>
                <div class="col-md-10">
                    Parking
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/Carriageway_Both_Points.svg" alt="Carriageway Both Points">
                </div>
                <div class="col-md-10">
                    Carriageway Both Points
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/Carriageway_Left_Point_Only.svg" alt="Carriageway Left Point Only">
                </div>
                <div class="col-md-10">
                    Carriageway Left Point Only
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/Carriageway_Right_Point_Only.svg" alt="Carriageway Right Point Only">
                </div>
                <div class="col-md-10">
                    Carriageway Right Point Only
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/Dual_Carriageway.svg" alt="Dual Carriageway">
                </div>
                <div class="col-md-10">
                    Dual Carriageway
                </div>
                <div class="col-md-2">
                    <img src="/images/sign/End_Of_Dual_Carriageway.svg" alt="End Of Dual Carriageway">
                </div>
                <div class="col-md-10">
                    End Of Dual Carriageway
                </div>
            </div>
            <div class="col-lg-3 row align-content-start">
                <div class="col-md-12">
                    <h3>Fields</h3>
                </div>
                <div class="col-md-2">
                    <img src="/images/field/scrap_field.svg" alt="Salvage Field">
                </div>
                <div class="col-md-10">
                    Salvage Field
                </div>
                <div class="col-md-2">
                    <img src="/images/field/scrap_mine.svg" alt="Salvage Mine">
                </div>
                <div class="col-md-10">
                    Salvage Mine
                </div>
                <div class="col-md-2">
                    <img src="/images/field/coal_field.svg" alt="Coal">
                </div>
                <div class="col-md-10">
                    Coal Field
                </div>
                <div class="col-md-2">
                    <img src="/images/field/comp_field.svg" alt="Components">
                </div>
                <div class="col-md-10">
                    Components Field
                </div>
                <div class="col-md-2">
                    <img src="/images/field/comp_mine.svg" alt="Components Mine">
                </div>
                <div class="col-md-10">
                    Components Mine
                </div>
                <div class="col-md-2">
                    <img src="/images/field/sulfur_field.svg" alt="Sulfur">
                </div>
                <div class="col-md-10">
                    Sulfur Field
                </div>
                <div class="col-md-2">
                    <img src="/images/field/sulfur_mine.svg" alt="Sulfur Mine">
                </div>
                <div class="col-md-10">
                    Sulfur Mine
                </div>
                <div class="col-md-2">
                    <img src="/images/field/oil_field.svg" alt="Oil">
                </div>
                <div class="col-md-10">
                    Oil Field
                </div>
            </div>
            <div class="col-lg-6 row align-content-start">
                <div class="col-md-12">
                    <h3>Facilities</h3>
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/generator.svg" alt="Generator">
                </div>
                <div class="col-md-8">
                    Generator
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/port.svg" alt="Sea Port">
                </div>
                <div class="col-md-8">
                    Possibility to dock with a Freighter
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/Rail_Yard.svg" alt="Rail Yard">
                </div>
                <div class="col-md-8">
                    Rail Yard
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/seaport_inland_port.svg" alt="Sea Port + Rail Yard">
                </div>
                <div class="col-md-8">
                    Sea Port + Rail Yard (Transfer)
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_cmats.svg" alt="CMats"> / <img src="/images/facility-private/private_cmats.svg" alt="Private CMats"> / <img src="/images/facility-enemy/enemy_cmats.svg" alt="Enemy CMats">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Construction Materials Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_pcmats.svg" alt="PC Mats"> / <img src="/images/facility-private/private_pcmats.svg" alt="Private PC Mats"> / <img src="/images/facility-enemy/enemy_pcmats.svg" alt="Enemy PC Mats">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Processed Construction Materials Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_scmats.svg" alt="Steel"> / <img src="/images/facility-private/private_scmats.svg" alt="Private Steel"> / <img src="/images/facility-enemy/enemy_scmats.svg" alt="Enemy Steel">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Steel Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_diesel.svg" alt="Diesel"> / <img src="/images/facility-private/private_diesel.svg" alt="Private Diesel"> / <img src="/images/facility-enemy/enemy_diesel.svg" alt="Enemy Diesel">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Diesel
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_petrol.svg" alt="Petrol"> / <img src="/images/facility-private/private_petrol.svg" alt="Private Petrol"> / <img src="/images/facility-enemy/enemy_petrol.svg" alt="Enemy Petrol">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Petrol Refinery
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_enriched.svg" alt="Enriched Oil"> / <img src="/images/facility-private/private_enriched.svg" alt="Private Enriched Oil"> / <img src="/images/facility-enemy/enemy_enriched.svg" alt="Enemy Enriched Oil">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Enriched Oil Refinery
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_heavy.svg" alt="Heavy Oil"> / <img src="/images/facility-private/private_heavy.svg" alt="Private Heavy Oil"> / <img src="/images/facility-enemy/enemy_heavy.svg" alt="Enemy Heavy Oil">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Heavy Oil Refinery
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_ass_mats_1.svg" alt="AMats 1"> / <img src="/images/facility-private/private_ass_mats_1.svg" alt="Private AMats 1"> / <img src="/images/facility-enemy/enemy_ass_mats_1.svg" alt="Enemy AMats 1">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Assembly Materials 1 Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_ass_mats_2.svg" alt="AMats 2"> / <img src="/images/facility-private/private_ass_mats_2.svg" alt="Private AMats 2"> / <img src="/images/facility-enemy/enemy_ass_mats_2.svg" alt="Enemy AMats 2">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Assembly Materials 2 Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_ass_mats_3.svg" alt="AMats 3"> / <img src="/images/facility-private/private_ass_mats_3.svg" alt="Private AMats 3"> / <img src="/images/facility-enemy/enemy_ass_mats_3.svg" alt="Enemy AMats 3">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Assembly Materials 3 Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_ass_mats_4.svg" alt="AMats 4"> / <img src="/images/facility-private/private_ass_mats_4.svg" alt="Private AMats 4"> / <img src="/images/facility-enemy/enemy_ass_mats_4.svg" alt="Enemy AMats 4">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Assembly Materials 4 Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_ass_mats_5.svg" alt="AMats 5"> / <img src="/images/facility-private/private_ass_mats_5.svg" alt="Private AMats 5"> / <img src="/images/facility-enemy/enemy_ass_mats_5.svg" alt="Enemy AMats 5">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Assembly Materials 5 Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_ammo_facility.svg" alt="Ammo"> / <img src="/images/facility-private/private_ammo_facility.svg" alt="Private Ammo"> / <img src="/images/facility-enemy/enemy_ammo_facility.svg" alt="Enemy Ammo">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Ammunition Facility
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_vehicle_facility.svg" alt="Vehicle"> / <img src="/images/facility-private/private_vehicle_facility.svg" alt="Private Vehicle"> / <img src="/images/facility-enemy/enemy_vehicle_facility.svg" alt="Enemy Vehicle">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Vehicle Assembly Station
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_tank_facility.svg" alt="Tank"> / <img src="/images/facility-private/private_tank_facility.svg" alt="Private Tank"> / <img src="/images/facility-enemy/enemy_tank_facility.svg" alt="Enemy Tank">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Tank Assembly Station
                </div>
                <div class="col-md-4">
                    <img src="/images/facility/public_train_facility.svg" alt="Train"> / <img src="/images/facility-private/private_train_facility.svg" alt="Private Train"> / <img src="/images/facility-enemy/enemy_train_facility.svg" alt="Enemy Train">
                </div>
                <div class="col-md-8">
                    Public / Private / Enemy Train Assembly Station
                </div>
            </div>
        </div>
        <h2 class="mt-4">Custom Facilities <i class="bi bi-hexagon"></i></h2>
        <p>
            Add multiple points to mark a area as facility area. Note will be displayed inside the box.
        </p>
        <h2 class="mt-4">Bugs/Issues/Feedback</h2>
        <p>If you have Feedback please contact us via Discord (CTA?).</p>
        <p>Bugs can be reported at <a href="https://github.com/attrib/foxhole-map-annotate/issues">github</a></p>
        <p>The code is open source, if you want to contribute, checkout the <a href="https://github.com/attrib/foxhole-map-annotate">github</a> page.</p>
        <h2 class="mt-4">Contributors</h2>
        <p>Idea, Icons, Map work: Bazlow</p>
        <p>Idea, Coding, <a href="https://warden.express">Hosting</a>: attrib</p>
        <p>Map from <a href="https://sentsu.itch.io/foxhole-better-map-mod?">Sentsu Better Map Mod</a></p>
    </div>
</div>
{% endblock %}