{% extends "base.html" %}

{% block css %}
<!--<script src="/dist/index.css"></script>-->
{% endblock %}

{% block javascript %}
  <script src="/dist/index.js?{{ cacheBuster }}"></script>
{% endblock %}

{% block content %}
    <div id="map" class="h-100 w-100">
    </div>
    <div id="global-alerts">
        <div id="disconnected" class="alert alert-danger mb-2">Connection to server lost. Auto-reconnect in 10s. Map doesn't update automatically. Editing not possible. Refresh page if message doesn't disappear.</div>
        <div id="resistance" class="alert {% if warStatus === 'resistance' and warWinner === 'Colonial' %}alert-warning{% elseif warStatus === 'resistance' and warWinner === 'Warden' %}alert-success{% endif %}" {% if warStatus !== 'resistance' %}style="display: none" {% endif %}>
            <p>War is over. Winner: <strong id="resistance-winner">{{ warWinner }}</strong></p>
            <p id="resistance-COLONIALS" {% if warWinner !== config.basic.faction %}style="display: none" {% endif %}>We lost. We will get them next time!</p>
            <p id="resistance-WARDENS" {% if warWinner === config.basic.faction %}style="display: none" {% endif %}>We won! Congratulations! Now go to sleep.</p>
            <p class="mb-0">Map is now read-only. Goes in preparation mode for next war <span id="resistance-timer" data-conquest-end-time="{{ warConquestEndTime }}"></span>.</p>
        </div>
    </div>
    <div id="feature-info">

{#        <div id="mouse-position-content" class="debug bg-light text-bg-light container mb-2">#}
{#            <div class="row mb-2 mt-2">#}
{#                <span class="col-sm-3">Mouse</span>#}
{#                <div id="mouse-position" class="col-sm-9"></div>#}
{#            </div>#}
{#        </div>#}

        <div id="icon-info" class="info-box bg-light text-bg-light p-1 px-2">
            <div class="placementInfo row align-items-center justify-content-between">
                <div class="user col-auto"></div>
                <div class="time col-auto">
                    <span class="clock">{% include 'clock.svg' %}</span>
                </div>
            </div>
            <div class="notes col-auto"></div>
        </div>

        
    </div>
    <div class="offcanvas offcanvas-start faction-background-color" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarLabel">Edit Mode</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="mb-2">
                <div class="row text-center">
                    <div class="btn-group-lg btn-group" id="tool-buttons">
                        <i class="btn bi bi-hexagon btn-outline-light" data-tool="polygon" title="Polygon"></i>
                        <i class="btn bi bi-pencil btn-outline-light" data-tool="line" title="Line"></i>
                        <i class="btn bi bi-scissors btn-outline-light" data-tool="scissor" title="Cut Line"></i>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mb-1 mt-2">
                    <label for="clan-input" class="col-sm-3 col-form-label">Builder</label>
                    <div class="col-sm-9">
                        <input type="text" id="clan-input" name="clan" placeholder="Builder" class="clan form-control">
                    </div>
                </div>
                <div class="row align-items-center mb-2">
                    <label for="color-input" class="col-sm-3 col-form-label">Color</label>
                    <div class="col-sm-9">
                        <input type="color" id="color-input" name="color" class="color form-control" value="#555555">
                    </div>
                </div>
                <div class="row align-items-center mb-2">
                    <label for="line-type-input" class="col-sm-3 col-form-label">Type</label>
                    <div class="col-sm-9">
                        <select id="line-type-input" name="type" class="form-control">
                            <option value="single" selected>Train Track</option>
                            <option value="water">Water Route</option>
                            <option value="planned">Planned Line</option>
                            <option value="pipeline">Pipeline</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-2">
                    <label for="notes-input" class="col-sm-3 col-form-label">Notes</label>
                    <div class="col-sm-9">
                        <textarea id="notes-input" name="notes" class="notes form-control"></textarea>
                    </div>
                </div>
                <div class="row mb-2" id="button-row">
                    <div class="btn-group col-sm-12">
                        <input type="submit" id="delete-button" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                        <input type="submit" id="save-button" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-2 mt-2 lh-lg">
                <div class="tri-state-toggle" id="ppe-filter">
                    <label for="public-radio">Public</label>
                    <input class="button public" type="radio" name="toggle" id="public-radio" value="public-radio" checked/>
                    <label for="private-radio">Private</label>
                    <input class="button private" type="radio" name="toggle" id="private-radio" value="private-radio" />
                    <label for="enemy-radio">Enemy</label>
                    <input class="button enemy" type="radio" name="toggle" id="enemy-radio" value="enemy-radio" />
                </div>
            </div>

            <div class="accordion" id="ppe-filter-content">
                <div class="accordion-item">
                    <h4 class="accordion-header" id="information-collapse-heading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#information-collapse" aria-expanded="true" aria-controls="information-collapse">
                            Information
                        </button>
                    </h4>
                    <div id="information-collapse" class="accordion-collapse collapse show" aria-labelledby="information-collapse-heading">
                        <div class="accordion-body p-1">
                            <div class="btn btn-outline-secondary">
                                <img src="/images/information/information.svg" alt="Information" title="Information">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/information/warning.svg" alt="Warning" title="Warning">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/information/caution.svg" alt="Caution" title="Caution">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/information/danger.svg" alt="Danger" title="Danger">
                            </div>
                            <div class="btn btn-outline-secondary public-radio private-radio">
                                <img src="/images/information/friendly_bridge_destroyed.svg" alt="Bridge destroyed" title="Bridge destroyed">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/information/enemy_bridge_destroyed.svg" alt="Enemy Bridge destroyed" title="Enemy Bridge destroyed">
                            </div>
                            <div class="btn btn-outline-secondary public-radio private-radio">
                                <img src="/images/information/friendly_freighter_blockade.svg" alt="Freighter Blockade" title="Freighter Blockade">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/information/enemy_freighter_blockade.svg" alt="Enemy Freighter Blockade" title="Enemy Freighter Blockade">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item hide-acl-icons">
                    <h4 class="accordion-header" id="sign-collapse-heading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sign-collapse" aria-expanded="true" aria-controls="sign-collapse">
                            Signs
                        </button>
                    </h4>
                    <div id="sign-collapse" class="accordion-collapse collapse show" aria-labelledby="sign-collapse-heading">
                        <div class="accordion-body p-1">
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/dead_end.svg" alt="Dead End" title="Dead End">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/dual_carriageway_ends_ahead.svg" alt="Dual Carriage Way Ends Ahead" title="Dual Carriage Way Ends Ahead">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/keep_left.svg" alt="Keep Left" title="Keep Left">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/keep_right.svg" alt="Keep Right" title="Keep Right">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/level_crossing.svg" alt="Level Crossing" title="Level Crossing">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/no_entry_sign.svg" alt="No Entry" title="No Entry">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/no_stopping.svg" alt="No Stopping" title="No Stopping">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/no_waiting.svg" alt="No Waiting" title="No Waiting">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/parking.svg" alt="Parking" title="Parking">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/Carriageway_Both_Points.svg" alt="Carriageway Both Points" title="Carriageway Both Points">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/Carriageway_Left_Point_Only.svg" alt="Carriageway Left Point Only" title="Carriageway Left Point Only">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/Carriageway_Right_Point_Only.svg" alt="Carriageway Right Point Only" title="Carriageway Right Point Only">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/Dual_Carriageway.svg" alt="Dual Carriageway" title="Dual Carriageway">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/sign/End_Of_Dual_Carriageway.svg" alt="End Of Dual Carriageway" title="End Of Dual Carriageway">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item hide-acl-icons">
                    <h4 class="accordion-header" id="facilities-collapse-heading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#facilities-collapse" aria-expanded="true" aria-controls="facilities-collapse">
                            Facilities
                        </button>
                    </h4>
                    <div id="facilities-collapse" class="accordion-collapse collapse show" aria-labelledby="facilities-collapse-heading">
                        <div class="accordion-body p-1">
                            <div class="btn btn-outline-secondary">
                                <img src="/images/facility/generator.svg" alt="Generator" title="Generator">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/facility/maintenance.svg" alt="Maintenance" title="Maintenance">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/facility/port.svg" alt="Sea Port" title="Sea Port">
                            </div>
                            <div class="btn btn-outline-secondary">
                                <img src="/images/facility/Rail_Yard.svg" alt="Rail Yard" title="Rail Yard">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_facility_generic.svg" alt="Generic Facility" title="Generic Facility">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_cmats.svg" alt="CMats" title="CMats">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_pcmats.svg" alt="PC Mats" title="PC Mats">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_scmats.svg" alt="Steel" title="Steel">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_diesel.svg" alt="Diesel" title="Diesel">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_petrol.svg" alt="Petrol" title="Petrol">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_heavy.svg" alt="Heavy Oil" title="Heavy Oil">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_enriched.svg" alt="Enriched Oil" title="Enriched Oil">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_ass_mats_1.svg" alt="AMats 1" title="AMats 1">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_ass_mats_2.svg" alt="AMats 2" title="AMats 2">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_ass_mats_3.svg" alt="AMats 3" title="AMats 3">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_ass_mats_4.svg" alt="AMats 4" title="AMats 4">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_ass_mats_5.svg" alt="AMats 5" title="AMats 5">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_ammo_facility.svg" alt="Ammo" title="Ammo">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_vehicle_facility.svg" alt="Vehicle" title="Vehicle">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_tank_facility.svg" alt="Tank" title="Tank">
                            </div>
                            <div class="btn btn-outline-secondary public-radio">
                                <img src="/images/facility/public_train_facility.svg" alt="Train" title="Train">
                            </div>


                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_facility_generic.svg" alt="Generic Facility" title="Generic Facility">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_cmats.svg" alt="CMats" title="CMats">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_pcmats.svg" alt="PC Mats" title="PC Mats">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_scmats.svg" alt="Steel" title="Steel">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_diesel.svg" alt="Diesel" title="Diesel">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_petrol.svg" alt="Petrol" title="Petrol">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_heavy.svg" alt="Heavy Oil" title="Heavy Oil">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_enriched.svg" alt="Enriched Oil" title="Enriched Oil">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_ass_mats_1.svg" alt="AMats 1" title="AMats 1">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_ass_mats_2.svg" alt="AMats 2" title="AMats 2">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_ass_mats_3.svg" alt="AMats 3" title="AMats 3">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_ass_mats_4.svg" alt="AMats 4" title="AMats 4">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_ass_mats_5.svg" alt="AMats 5" title="AMats 5">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_ammo_facility.svg" alt="Ammo" title="Ammo">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_vehicle_facility.svg" alt="Vehicle" title="Vehicle">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_tank_facility.svg" alt="Tank" title="Tank">
                            </div>
                            <div class="btn btn-outline-secondary private-radio">
                                <img src="/images/facility-private/private_train_facility.svg" alt="Train" title="Train">
                            </div>
                            
                            
                            
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_facility_generic.svg" alt="Enemy Generic Facility" title="Enemy Generic Facility">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_cmats.svg" alt="CMats" title="CMats">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_pcmats.svg" alt="PC Mats" title="PC Mats">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_scmats.svg" alt="Steel" title="Steel">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_diesel.svg" alt="Diesel" title="Diesel">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_petrol.svg" alt="Petrol" title="Petrol">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_heavy.svg" alt="Heavy Oil" title="Heavy Oil">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_enriched.svg" alt="Enriched Oil" title="Enriched Oil">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_ass_mats_1.svg" alt="AMats 1" title="AMats 1">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_ass_mats_2.svg" alt="AMats 2" title="AMats 2">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_ass_mats_3.svg" alt="AMats 3" title="AMats 3">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_ass_mats_4.svg" alt="AMats 4" title="AMats 4">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_ass_mats_5.svg" alt="AMats 5" title="AMats 5">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_ammo_facility.svg" alt="Ammo" title="Ammo">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_vehicle_facility.svg" alt="Vehicle" title="Vehicle">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_tank_facility.svg" alt="Tank" title="Tank">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_train_facility.svg" alt="Train" title="Train">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="accordion-item hide-acl-icons">
                    <h4 class="accordion-header" id="base-collapse-heading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#base-collapse" aria-expanded="true" aria-controls="base-collapse">
                            Base
                        </button>
                    </h4>
                    <div id="base-collapse" class="accordion-collapse collapse show" aria-labelledby="base-collapse-heading">
                        <div class="accordion-body p-1">
                            <div class="btn btn-outline-secondary public-radio private-radio">
                                <img src="/images/base/base.svg" alt="Base" title="Base">
                            </div>
                            <div class="btn btn-outline-secondary public-radio private-radio">
                                <img src="/images/base/base_frontline.svg" alt="Frontline Base" title="Frontline Base">
                            </div>
                            <div class="btn btn-outline-secondary public-radio private-radio">
                                <img src="/images/base/base_obs.svg" alt="Obs Base" title="Obs Base">
                            </div>
                            <div class="btn btn-outline-secondary public-radio private-radio">
                                <img src="/images/base/base_sleep.svg" alt="Base Sleep" title="Base Sleep">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_base.svg" alt="Base" title="Base">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_base_frontline.svg" alt="Frontline Base" title="Frontline Base">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_base_obs.svg" alt="Obs Base" title="Obs Base">
                            </div>
                            <div class="btn btn-outline-secondary enemy-radio">
                                <img src="/images/facility-enemy/enemy_base_sleep.svg" alt="Base Sleep" title="Base Sleep">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}