extends layout

block content
    #map-view
        #map
        #info
            #feature-info
                #mouse-position-content.debug
                    span Mouse Position
                    #mouse-position
                #track-info
                    span.user
                    span.time
                    div
                        span Builder:
                        span.clan
                    div.notes
                #track-form
                    div
                        label Builder
                        input(type="text",name="clan",placeholder="Builder")
                    div
                        label Color
                        input(type="color",name="color")
                    div
                        label Notes
                        textarea(name="notes")
                    div
                        input(type="submit",value="Cancel",name="cancel",class="cancel")
                        input(type="submit",value="Save",name="save",class="submit")
                #icon-info
                    span.user
                    span.time
                    .text
                #icon-form
                    div
                        label Notes
                        textarea(name="text")
                    div
                        input(type="submit",value="Cancel",name="cancel",class="cancel")
                        input(type="submit",value="Save",name="save",class="submit")

    script.
        const websocketUrl="#{websocketUrl}"

    script(src="javascripts/index.js")