extends layout

block content
    #map-view
        #map
        #info
            #feature-info
                #mouse-position-content.debug
                    span Mouse Position
                    #mouse-position
                #track-info.info-box
                    div.placementInfo
                        div.user
                        div.time
                    div
                        span Builder:&nbsp;
                        span.clan
                    div.notes
                #track-form.form
                    div
                        label Builder
                        input(type="text", name="clan", placeholder="Builder", class="clan")
                    div
                        label Color
                        input(type="color", name="color", value="#555555", class="color")
                    div
                        label Notes
                        textarea(name="notes", class="notes")
                    div
                        input(type="submit", value="Cancel", name="cancel", class="cancel")
                        input(type="submit", value="Save", name="save", class="submit")
                #icon-info.info-box
                    div.placementInfo
                        div.user
                        div.time
                    div.notes
                #icon-form.form
                    div
                        label Notes
                        textarea(name="text", class="notes")
                    div
                        input(type="submit", value="Cancel", name="cancel", class="cancel")
                        input(type="submit", value="Save", name="save", class="submit")

    script(src="javascripts/index.js")