{% extends "base.html" %}

{% block css %}
<!--<script src="/dist/index.css"></script>-->
{% endblock %}

{% block javascript %}
  <script src="/dist/index.js?{{ cacheBuster }}"></script>
{% endblock %}

{% block content %}
    <div id="map" class="h-100 w-100">
    </div>
    <div id="disconnected" class="alert alert-danger m-auto">Connection to server lost. Auto-reconnect in 10s. Map doesn't update automatically. Editing not possible. Refresh page if message doesn't disappear.</div>
    <div id="feature-info">

{#        <div id="mouse-position-content" class="debug bg-light text-bg-light container mb-2">#}
{#            <div class="row mb-2 mt-2">#}
{#                <span class="col-sm-3">Mouse</span>#}
{#                <div id="mouse-position" class="col-sm-9"></div>#}
{#            </div>#}
{#        </div>#}

        <div id="track-info" class="info-box bg-light text-bg-light container p-1 px-2">
            <div class="placementInfo row align-content-center mb-1 mt-2">
                <div class="user col-8"></div>
                <div class="time col-4">
                    <span class="clock">{% include 'clock.svg' %}</span>
                </div>
            </div>
            <div class="row mb-1">
                <span class="col-6">Builder</span>
                <span class="clan col-6"></span>
            </div>
            <div class="notes col-12 mb-2"></div>
        </div>
        <div id="track-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2">
                <label for="track-form-clan" class="col-sm-3 col-form-label">Builder</label>
                <div class="col-sm-9">
                    <input id="track-form-clan" type="text" name="clan" placeholder="Builder" class="clan form-control">
                </div>
            </div>
            <div class="row align-items-center mb-1">
                <label for="track-form-color" class="col-sm-3 col-form-label">Color</label>
                <div class="col-sm-9">
                    <input id="track-form-color" type="color" name="color" class="color form-control" value="#555555">
                </div>
            </div>
            <div class="row align-items-center mb-1">
                <label for="track-form-type" class="col-sm-3 col-form-label">Type</label>
                <div class="col-sm-9">
                    <select id="track-form-type" name="type" class="form-control">
                        <option value="single" selected>Train Track</option>
                        <option value="water">Water Route</option>
                        <option value="planned">Planned Line</option>
                    </select>
                </div>
            </div>
            <div class="row align-items-center mb-1">
                <label for="track-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="track-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row mb-2" id="track-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="track-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="track-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>

        <div id="icon-info" class="info-box bg-light text-bg-light container p-1 px-2">
            <div class="placementInfo row align-items-center mt-2 mb-1">
                <div class="user col-8"></div>
                <div class="time col-4">
                    <span class="clock">{% include 'clock.svg' %}</span>
                </div>
            </div>
            <div class="notes col-12 mb-2"></div>
        </div>

        <div id="information-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2">
                <label for="information-form-icon" class="col-sm-3 col-form-label">Icon</label>
                <div class="col-sm-9">
                    <select name="information" id="information-form-icon" class="form-control select2">
                        <option value="information">Information</option>
                        <option value="warning" selected>Warning</option>
                        <option value="caution">Caution</option>
                        <option value="danger">Danger</option>
                        <option value="friendly_bridge_destroyed">Bridge Destroyed</option>
                        <option value="friendly_freighter_blockade">Freighter Blockade</option>
                        <option value="enemy_bridge_destroyed">Enemy Bridge Destroyed</option>
                        <option value="enemy_freighter_blockade">Enemy Freighter Blockade</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <label for="information-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="information-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-between mb-2" id="information-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="information-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="information-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>

        <div id="base-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2">
                <label for="base-form-icon" class="col-sm-3 col-form-label">Icon</label>
                <div class="col-sm-9">
                    <select name="base" id="base-form-icon" class="form-control select2">
                        <option value="base" selected>Base</option>
                        <option value="base_frontline">Frontline Base</option>
                        <option value="base_obs">Obs Base</option>
                        <option value="base_sleep">Base Sleep</option>
                        <option value="enemy_base">Enemy Base</option>
                        <option value="enemy_base_frontline">Enemy Frontline Base</option>
                        <option value="enemy_base_obs">Enemy Obs Base</option>
                        <option value="enemy_base_sleep">Enemy Base Sleep</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <label for="base-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="base-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-between mb-2" id="base-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="base-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="base-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>

        <div id="sign-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2">
                <label for="sign-form-icon" class="col-sm-3 col-form-label">Sign</label>
                <div class="col-sm-9">
                    <select name="sign" id="sign-form-icon" class="form-control select2">
                        <option value="dead_end">Dead End</option>
                        <option value="dual_carriageway_ends_ahead">Dual Carriage Way Ends Ahead</option>
                        <option value="keep_left">Keep Left</option>
                        <option value="keep_right">Keep Right</option>
                        <option value="level_crossing">Level Crossing</option>
                        <option value="maintenance">Maintenance</option>
{#                        <option value="motorway">Motorway</option>#}
{#                        <option value="motorway_end">Motorway End</option>#}
                        <option value="no_entry_sign">No Entry</option>
                        <option value="no_stopping">No Stopping</option>
                        <option value="no_waiting">No Waiting</option>
                        <option value="parking">Parking</option>
                        <option value="Carriageway_Both_Points">Carriageway Both Points</option>
                        <option value="Carriageway_Left_Point_Only">Carriageway Left Point Only</option>
                        <option value="Carriageway_Right_Point_Only">Carriageway Right Point Only</option>
                        <option value="Dual_Carriageway">Dual Carriageway</option>
                        <option value="End_Of_Dual_Carriageway">End Of Dual Carriageway</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <label for="sign-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="sign-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-between mb-2" id="sign-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="sign-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="sign-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>

        <div id="field-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2">
                <label for="field-form-icon" class="col-sm-3 col-form-label">Icon</label>
                <div class="col-sm-9">
                    <select name="icon" id="field-form-icon" class="form-control select2">
                        <option value="scrap_field">Salvage</option>
                        <option value="scrap_mine">Salvage Mine</option>
                        <option value="coal_field">Coal</option>
                        <option value="comp_field">Components</option>
                        <option value="comp_mine">Components Mine</option>
                        <option value="sulfur_field">Sulfur</option>
                        <option value="sulfur_mine">Sulfur Mine</option>
                        <option value="oil_field">Oil</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <label for="field-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="field-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-between mb-2" id="field-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="field-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="field-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>

        <div id="facility-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2">
                <label for="facility-form-icon" class="col-sm-3 col-form-label">Icon</label>
                <div class="col-sm-9">
                    <select name="icon" id="facility-form-icon" class="form-control select2">
                        <option value="generator">Generator</option>
                        <option value="port" selected>Sea Port</option>
                        <option value="Rail_Yard">Rail Yard</option>
                        <option value="seaport_inland_port">Sea Port & Rail Yard</option>
                        <option value="public_facility_generic">Generic Facility</option>
                        <option value="public_cmats">CMats</option>
                        <option value="public_pcmats">PC Mats</option>
                        <option value="public_scmats">Steel</option>
                        <option value="public_diesel">Diesel</option>
                        <option value="public_petrol">Petrol</option>
                        <option value="public_heavy">Heavy Oil</option>
                        <option value="public_enriched">Enriched Oil</option>
                        <option value="public_ass_mats_1">AMats 1</option>
                        <option value="public_ass_mats_2">AMats 2</option>
                        <option value="public_ass_mats_3">AMats 3</option>
                        <option value="public_ass_mats_4">AMats 4</option>
                        <option value="public_ass_mats_5">AMats 5</option>
                        <option value="public_ammo_facility">Ammo</option>
                        <option value="public_vehicle_facility">Vehicle</option>
                        <option value="public_tank_facility">Tank</option>
                        <option value="public_train_facility">Train</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <label for="facility-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="facility-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-between mb-2" id="facility-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="facility-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="facility-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>

        <div id="facility-private-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2">
                <label for="facility-private-form-icon" class="col-sm-3 col-form-label">Icon</label>
                <div class="col-sm-9">
                    <select name="icon" id="facility-private-form-icon" class="form-control select2">
                        <option value="private_facility_generic">Generic Facility</option>
                        <option value="private_cmats">CMats</option>
                        <option value="private_pcmats">PC Mats</option>
                        <option value="private_scmats">Steel</option>
                        <option value="private_diesel">Diesel</option>
                        <option value="private_petrol">Petrol</option>
                        <option value="private_heavy">Heavy Oil</option>
                        <option value="private_enriched">Enriched Oil</option>
                        <option value="private_ass_mats_1">AMats 1</option>
                        <option value="private_ass_mats_2">AMats 2</option>
                        <option value="private_ass_mats_3">AMats 3</option>
                        <option value="private_ass_mats_4">AMats 4</option>
                        <option value="private_ass_mats_5">AMats 5</option>
                        <option value="private_ammo_facility">Ammo</option>
                        <option value="private_vehicle_facility">Vehicle</option>
                        <option value="private_tank_facility">Tank</option>
                        <option value="private_train_facility">Train</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <label for="facility-private-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="facility-private-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-between mb-2" id="facility-private-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="facility-private-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="facility-private-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>

        <div id="facility-enemy-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2">
                <label for="facility-enemy-form-icon" class="col-sm-3 col-form-label">Icon</label>
                <div class="col-sm-9">
                    <select name="icon" id="facility-enemy-form-icon" class="form-control select2">
                        <option value="enemy_facility_generic">Enemy Generic Facility</option>
                        <option value="enemy_cmats">CMats</option>
                        <option value="enemy_pcmats">PC Mats</option>
                        <option value="enemy_scmats">Steel</option>
                        <option value="enemy_diesel">Diesel</option>
                        <option value="enemy_petrol">Petrol</option>
                        <option value="enemy_heavy">Heavy Oil</option>
                        <option value="enemy_enriched">Enriched Oil</option>
                        <option value="enemy_ass_mats_1">AMats 1</option>
                        <option value="enemy_ass_mats_2">AMats 2</option>
                        <option value="enemy_ass_mats_3">AMats 3</option>
                        <option value="enemy_ass_mats_4">AMats 4</option>
                        <option value="enemy_ass_mats_5">AMats 5</option>
                        <option value="enemy_ammo_facility">Ammo</option>
                        <option value="enemy_vehicle_facility">Vehicle</option>
                        <option value="enemy_tank_facility">Tank</option>
                        <option value="enemy_train_facility">Train</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1 align-items-center">
                <label for="facility-enemy-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="facility-enemy-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-between mb-2" id="facility-enemy-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="facility-enemy-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="facility-enemy-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>

        <div id="facility-custom-form" class="form bg-light text-bg-light container mb-2">
            <div class="row mb-1 mt-2 align-items-center">
                <label for="facility-custom-form-notes" class="col-sm-3 col-form-label">Notes</label>
                <div class="col-sm-9">
                    <textarea id="facility-custom-form-notes" name="notes" class="notes form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-between mb-2" id="facility-custom-form-buttons">
                <div class="btn-group col-sm-12">
                    <input id="facility-custom-form-delete" type="submit" value="Delete" name="delete" class="submit col-sm-4 btn btn-danger">
                    <input id="facility-custom-form-submit" type="submit" value="Save" name="save" class="submit col-sm-4 btn btn-primary">
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}