doctype html
html
  head
    title= title || "Warden Rail Network"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        h1= title || "Warden Rail Network"
        ul
            li
                a(href='/') Map
    section#main
        block content
