{% extends "base.html" %}

{% set showSelect = config.access.discords|length > 1  %}

{% block javascript %}
{% if showSelect %}
<script>
    const preferredDiscordServer = localStorage.getItem('preferredDiscordServer')
    const serverSelect = document.getElementById('server')
    const loginButton = document.getElementById('loginButton')
    const params = new URLSearchParams(location.search);

    if (preferredDiscordServer && !params.has('hiddenCode')) {
      const options = document.getElementsByTagName('option')
      let found = false
      for (const option of options) {
        if (option.value === preferredDiscordServer) {
          found = true
        }
      }
      if (!found) {
        const newOption = document.createElement('option')
        newOption.value = preferredDiscordServer
        newOption.text = 'Hidden Server (previously selected)'
        serverSelect.append(newOption)
      }
      serverSelect.value = preferredDiscordServer
    }

    setServer()

    serverSelect.addEventListener('change', setServer)

    function setServer() {
      loginButton.href = '/connect/discord?discordServerId=' + serverSelect.value
      localStorage.setItem('preferredDiscordServer', serverSelect.value)
    }
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="p-5 m-4 bg-light rounded-3 text-bg-light">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Login required</h1>
        {{ config.text.login | safe }}
        <div class="row">
            {% if showSelect %}
            <div class="col-auto row">
                <label for="server" class="col-form-label col-auto">Login via</label>
                <div class="col-auto">
                <select id="server" class="form-select form-control">
                    {% for discordId, discord in config.access.discords %}
                        {% if not discord.hiddenCode or discord.hiddenCode === hiddenCode %}
                        <option value="{{ discordId }}" {% if discord.hiddenCode === hiddenCode %}selected{% endif %}>{{ discord.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
            </div>
            {% endif %}
            <div class="col-auto">
                <a href="/connect/discord" class="btn btn-primary" id="loginButton">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}