{% extends "base.html" %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="p-5 m-4 bg-light rounded-3 text-bg-light">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Login required</h1>
        <p>
            To verify you can view the map, login with discord.
        </p>
        <p>
            You or your discord server or a specific role of your discord server need to be whitelisted.
        </p>
        <p>
            <a href="/connect/discord" class="btn btn-primary btn-lg">Login</a>
        </p>
    </div>
</div>
{% endblock %}