<div class="offcanvas offcanvas-start faction-background-color" tabindex="-1" id="sidebarAirRange"
     aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">Air Range Calculator</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" id="airrange-close"></button>
    </div>


    <div class="offcanvas-body">
        <h6 >Gun</h6>
        <div class="col-12 mt-2 mb-2">
            <div class="dropdown d-grid">
                <button type="button" id="airRangePieceButton" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown">
                    Select Plane
                </button>
                <ul class="dropdown-menu col-12" id = "planeSelector" style = "max-height: 50vh; overflow-y: scroll;">
                </ul>
                <div id="custom-plane-input" style="display: none">
                    <div class="input-group mt-2">
                        <span class="input-group-text">Range in m</span>
                        <input type="number" class="form-control" id="range" min="0" value="0">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-2 mb-2"><br></div>

        <h6>Settings</h6>
        <div class="col-12 mt-2 mb-2 rounded container">
            <div class="row">
                <div class="input-group mt-2">
                    <span class="input-group-text">Buffer %</span>
                    <input type="number" class="form-control" id="buffer" min="0" value="10">
                </div>
            </div>

            <div class="mt-4">
                <p>Inner Circle shows the safe zone (Range / 2 - Buffer)</p>
                <p>Outer Circle (red area) shows the no return range</p>
            </div>
        </div>
    </div>
</div>